<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Dashboard</title>
</head>
<body>

  <div class="navbar bg-base-100">
    <div class="navbar-start">
    </div>
    <div class="navbar-center">
      <a href="../dashboard/<%= user.steamId %>" class="btn btn-ghost normal-case text-xl">Steam Achievement To Do List</a>
    </div>
    <div class="navbar-end">
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img src="<%= user.avatarMedium%>" />
          </div>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
          <li><a href="/dashboard/<%= user.steamId %>">Dashboard</a></li>
          <li><a href="/games/<%= user.steamId %>">Games</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>